.min-h-100 {
  min-height: 100vh;
}

.min-h-75 {
  min-height: 75vh;
}

.min-h-50 {
  min-height: 50vh;
}

.min-h-25 {
  min-height: 25vh;
}

.ex-h-100 {
  height: 100vh;
}

.ex-h-75 {
  height: 75vh;
}

.ex-h-50 {
  height: 50vh;
}

.ex-h-25 {
  height: 25vh;
}
