.wrapper {
  overflow: hidden;
}

.rounded-full {
  border-radius: 1rem !important;
}

.shadow {
  -webkit-box-shadow: 0px 5px 33px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 33px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 33px -5px rgba(0, 0, 0, 0.75);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}